<h1>Login</h1>
<div>
  <form>
    Username: <input type="text" name="username"> <br />
    Password: <input type="password" name="password"> <br />
    <input type="submit" value="Submit">
  </form>
  <p><a href="/signup">Don't have an account? Click here to sign up.</a></p>
</div>