<h1>Create account</h1>
<div>
  <form>
    Username: <input type="text" name="username"> <br />
    Password: <input type="password" name="password"> <br />
    <input type="submit" value="Submit">
  </form>
  <p><a href="/login">Have an account already? Click here to login.</a></p>
</div>
