
<div layout="row">
  <div flex="33" class="events links">

    <input type="text" ng-model="search" placeholder="Search events"></span><span ng-click=createEvent()>

    <div class="link" ng-repeat="link in events | filter:search | orderBy:'created_at'" ng-click="displayEvent(link)">
      <div class="info" >
        <img width="100px" height="100px" src="{{link.image}}" />
        <div id="{{ 'event-' + $index }}" class="info" >
          <span> <strong> {{ link.title }} </strong> </span> <br />
          <span> Expiration: {{ link.expiration |  date : format : timezone}} </span> <br />
          <span> People needed: {{ link.thresholdPeople }} </span>
        </div>
      </div>
      <span> Cost of link: ${{ link.thresholdMoney / link.thresholdPeople | number:2 }} </span> <br />
      <span> Remaining money needed: ${{ link.thresholdMoney - link.committedMoney | number:2}} </span>
    </div>
  </div>

  <div flex="66" class="events">
    <div class="event" ng-model="event" ng-show={{event.display}}>
      <div class="info" >
        <img width="100px" height="100px" src="{{event.image}}" />
        <div id="{{ 'event-' + $index }}" class="info" >
          <span> <strong> {{ event.title }} </strong> </span> <br />
          <span> Expiration: {{ event.expiration |  date : format : timezone}} </span> <br />
          <span> People needed: {{ event.thresholdPeople }} </span>
        </div>
      </div>
      <span> Cost of event: ${{ event.thresholdMoney / event.thresholdPeople | number:2 }} </span> <br />
      <span> Remaining money needed: ${{ event.thresholdMoney - event.committedMoney | number:2}} </span>
    </div>

</div>

<!-- EVENT PAGE -->
<!--
  <button ng-disabled="{{hasNotAuthorizedVenmo}}" ng-click="checkStripe(event); acceptOrDeclineInvite(true)"> JOIN </button>
  <button ng-disabled="{{hasNotAuthorizedVenmo}}" ng-click="acceptOrDeclineInvite(false)"> DECLINE </button>
  <div ng-show="hasStripe">
  <span class="selector"> Congrats, {{ currentUser }}, you have confirmed your place for {{ lastEvent }} thrown by {{ owner }} !! </span> <br />
  <span class="selector" ng-show="triggerFunding"> Congrats, {{ currentUser }}, the {{ lastEvent }} thrown by {{ owner }} is officially HAPPENING !!!</span>
  <button class="selector"  ng-click="confirm($event)">  CONFIRM? </button>
  </div>
  <div ng-show="needInfo">
  </div>
-->


