<div layout="row">
  <div flex="33" class="events links">

    <div class="ui icon input">
      <input type="text" ng-model="search" placeholder="Search.."></span>
      <i class="search icon"></i>
    </div>

    <a href="#event" class="link" ng-repeat="link in events | filter:search | orderBy:'created_at'" ng-click="saveEvent(link)">
      <div class="info" >
        <img width="100px" height="100px" src="{{link.image}}" />
        <div id="{{ 'event-' + $index }}" class="info" >
          <span> <strong> {{ link.title }} </strong> </span> <br />
          <span> Expiration: {{ link.expiration |  date : format : timezone}} </span> <br />
          <span> People needed: {{ link.thresholdPeople - link.committedPeople }} </span>
        </div>
      </div>
      <span> Cost per person: ${{ link.thresholdMoney / link.thresholdPeople | number:2 }} </span> <br />
      <span> Remaining money needed: ${{ link.thresholdMoney - (link.committedPeople * (link.thresholdMoney / link.thresholdPeople)) | number:2}} </span>
    </div>
  </a>

  <div flex="66" class="events">
</div>
