    <div class="ui icon input fluid">
      <input type="text" ng-model="search" placeholder="Search.."></span>
      <i class="search icon"></i>
    </div>
    <br> <!-- This should be done in CSS -->
    <div class="ui four cards">
      <div class="center-form" ng-show="!(events | filter:search).length">
        <h1 class="searchMessage">No Events</h1>
      </div>
      <div class="ui card" ng-repeat="link in events | filter:search | orderBy:'created_at'" ng-click="saveEvent(link)">
        <a class="image" ng-click="saveEvent(link)" href="#event">
              <img src="{{link.image || 'http://placehold.it/195x195'}}">
        </a>
        <div class="content">
          <a class="header" ng-click="saveEvent(link)" href="#event">{{link.title}}</a>
          <div class="meta">
            <a>by {{link.user_id}}</a>
          </div>
          <div class="description">
            <div class="ui teal progress" data-percent="{{getPercentage(link.committedMoney,link.thresholdMoney)}}" id="example1">
              <div class="bar"></div>
              <div class="label">${{link.committedMoney}} of ${{link.thresholdMoney | number}} committed</div>
            </div>

            <div class="ui label orange">
              {{link.committedPeople}} Contributors
            </div>
          </div>
      </div>
    </div>


    <script>
      setTimeout(function(){
        $('.progress').progress();
      },1000);
      
    </script>