    <div class="event" panel panel-primary ng-model="event">
      <div class="info" >
        <img class="event-image" width="200px" height="200px" src="{{event.image}}" />
        <div id="{{ 'event-' + $index }}" class="info" >
          <span class="panel body"> <strong> {{ event.title }} </strong> </span> <br />
          <span class="panel body"> Expiration: {{ event.expiration |  date : format : timezone}} </span> <br />
          <span class="panel body"> People needed: {{ event.thresholdPeople }} </span>
        </div>
      </div>
      <span class="panel body"> Cost per person: ${{ event.thresholdMoney / event.thresholdPeople | number:2 }} </span> <br />
      <span class="panel body"> Remaining money needed: ${{ event.thresholdMoney - event.committedMoney | number:2}} </span> <br />
      <md-button class="md-raised md-primary" ng-model="shouldNotBeClickable" ng-disabled="shouldNotBeClickable" ng-click="acceptOrDeclineInvite(true, event); shouldNotBeClickable = true"> JOIN </md-button>
      <md-button class="md-raised md-primary"ng-model="shouldNotBeClickable" ng-disabled="shouldNotBeClickable" ng-click="acceptOrDeclineInvite(false, event); shouldNotBeClickable = true"> DECLINE </md-button>
    </div>

