<div id='container'>
  <!-- Your html here -->

  <nav class="navigation">
    <ul>
      <li>
          <a class="selected" href="#/events">Events</a>
      </li>
       <li>
          <a href="#/accounts">Account Panel</a>
      </li>
    </ul>
  </nav>
</div>
<input type='text' ng-model='search' placeholder='Search events' ng-show="!showDetails">

<!-- DISPLAY EVENTS -->

<div class="links">
  <div class="link"
      ng-repeat="event in events | filter:search | orderBy:'created_at'" ng-click="seeMore = !seeMore" ng-show="!showDetails">
    <div class="info" >
      <img width="100px" height="100px" src="{{event.image}}" />
      <span> <strong> {{ event.title }} </strong> </span> <br />
      <span> Expiration: {{ event.expiration }} </span> <br />
      <span> People needed: {{ event.thresholdPeople }} </span>
    </div>
    <div ng-show="seeMore">
      <span> {{ event.description }} </span><br />
      <button ng-click="checkStripe()"> JOIN </button>
      <button> DECLINE </button>
    </div>
  </div>
</div>

<!-- EVENT CREATION -->
<div ng-click="showDetails = !showDetails; fetchUsers()" ng-init="showDetails=false" ng-show="!showDetails">
  <button>Create Event</button>
</div>

<div ng-click="showDetails = !showDetails" ng-init="showDetails=false" ng-show="showDetails">
  <button>View Events</button>
</div>

<div ng-show="showDetails">
<br />
    How your event will look: 
    <div class="link" >
      <img width="100px" height="100px" src="{{event.image}}" />
      <span> <strong> {{ newEvent.title }} </strong> </span> <br />
      <span> {{ newEvent.description }} </span><br />
      <span> Expiration: {{ newEvent.expiration }}</span> <br />
      <span> People going: {{ newEvent.thresholdPeople }} people</span> <br />
      <button> JOIN </button>
      <button> DECLINE </button><br />
    </div>
  <div>
  <br />
  <form ng-model="newEvent" ng-submit="createEvent()">
    <input type="text" name="title" ng-model="newEvent.title" required> <br />
    <input type="text" name="description" ng-model="newEvent.description" required> <br />
    <input type="number" name="thresholdMoney" placeholder="How much $ will it cost?" ng-model="newEvent.thresholdMoney" required> <br />
    <input type="number" name="expiration" placeholder="How many days until this event ends?" ng-model="newEvent.expiration" required> <br />
    <input type="number" name="thresholdPeople" ng-model="newEvent.thresholdPeople" required> <br />
    <input type="text" ng-click="inviteClicked = true" placeholder="Who's invited? Start typing their username...">
    <div ng-show="inviteClicked">
      <span id="inviteBox" ng-repeat="user in userList | filter:invites" ng-click="addInvite(user)"> {{ user[0] }} </span>
    </div>
    <div ng-show="inviteClicked"> Invited: <br />
      <span id="inviteBox" ng-repeat="invite in inviteList" ng-click="removeInvite(invite)">{{ invite[0][0] }} <br /></span>
    </div>
    <input type="submit" name="Submit">
  </form>
  </div>
</div>

<!-- CONFIRM DIV CREATION -->

<div>
  <div ng-show="hasStripe">
    <button>  CONFIRM? </button>
  </div>
  <div ng-show="needInfo">
  </div>
</div>
