<div id='container'>
  <!-- Your html here -->

  <nav class="navigation">
    <ul>
      <li>
          <a class="selected" href="#/events">Events</a>
      </li>
       <li>
          <a href="#/accounts">Account Panel</a>
      </li>
    </ul>
  </nav>
</div>
<input type='text' ng-model='search' placeholder='Search events' ng-show="!showDetails">

<!-- DISPLAY EVENTS -->

<span ng-show="!events.length">No events available, get invited or create an event to see some!</span>

<div class="links" ng-show="events.length">
  <div class="link"
    ng-repeat="event in events | filter:search | orderBy:'created_at'" ng-click="seeMore = !seeMore" ng-show="!showDetails">

    <div class="info" >
      <img width="100px" height="100px" src="{{event.image}}" />


    <div id="{{ 'event-' + $index }}" class="info" >
      <!-- <img src="assets/redirect_icon.png"> -->
      <!-- <img width="75px" height="75px" src="{{event.image}}" /> -->
      <span> <strong> {{ event.title }} </strong> </span> <br />
      <span> Expiration: {{ event.expiration }} </span> <br />
      <span> People needed: {{ event.thresholdPeople }} </span>
    </div>
    <div ng-show="seeMore" ng-model="clickedEvent">
      <span> {{ event.description }} </span><br />
      <button ng-click="checkStripe(event)"> JOIN </button>
      <button> DECLINE </button>
    </div>
    </div>
      <span> Cost of event: ${{ event.thresholdMoney / event.thresholdPeople | number:2 }} </span> <br />
      <span> Remaining money needed: ${{ event.thresholdMoney - event.committedMoney | number:2}} </span>
  </div>
</div>

<!-- EVENT CREATION -->
<div ng-click="showDetails = !showDetails; fetchUsers()" ng-init="showDetails=false" ng-show="!showDetails">
  <button>Create Event</button>
</div>

<div ng-click="showDetails = !showDetails" ng-init="showDetails=false" ng-show="showDetails">
  <button>View Events</button>
</div>

<div ng-show="showDetails">
<br />
    How your event will look: 
    <div class="link" >
      <img width="100px" height="100px" src="{{ newEvent.image }}" />
      <span> <strong> {{ newEvent.title }} </strong> </span> <br />
      <span> {{ newEvent.description }} </span><br />
      <span> Money needed: ${{ newEvent.thresholdMoney }} </span><br />
      <span> Expiration: {{ newEvent.expiration }}</span> <br />
      <span> People going: {{ newEvent.thresholdPeople }}</span> <br />
      <button> JOIN </button>
      <button> DECLINE </button><br />
    </div>
  <div>
  <br />
  <form ng-model="newEvent" ng-submit="createEvent()">
    Title:<br />
    <input type="text" name="title" ng-model="newEvent.title" required> 
    Description: <br />
    <input type="text" name="description" ng-model="newEvent.description" required> 
    How much money needed? <br />
    <input type="number" name="thresholdMoney" placeholder="How much $ will it cost?" ng-model="newEvent.thresholdMoney" required> 
    When will this event expire? <br />
    <input type="date" name="expiration" ng-model="newEvent.expiration" required> 
    How many people are going? <br />
    <input type="number" name="thresholdPeople" ng-model="newEvent.thresholdPeople" required> 
    Image url: <br />
    <input type="text" name="image" placeholder="Paste any image for your event here" ng-model="newEvent.image" required>
    Who's invited? <br />
    <input type="text" ng-click="inviteClick = true" ng-model="inviteUser" placeholder="Who's invited? Start typing their username...">
    <div ng-show="inviteClick">
      <span id="inviteBox" ng-repeat="user in userList | filter:inviteUser" ng-click="addInvite(user)"> {{ user[0] }} </span>
    </div>
    <div ng-show="inviteClick"> Invited: <br />
      <span id="inviteBox" ng-repeat="invite in invitedUsers" ng-click="removeInvite(invite)">{{ invite[0] }} <br /></span>
    </div>
    <input type="submit" name="Submit">
  </form>
  </div>

</div>

<!-- EVENT CREATION -->
<!-- <div ng-click="showDetails = !showDetails; hasStripe = false;" ng-init="showDetails=false" ng-show="!showDetails">Create Event</div> -->
<div ng-click="showDetails = !showDetails" ng-init="showDetails=false" ng-show="showDetails">View Events</div>
<!-- CONFIRM DIV CREATION -->
<span>
  <div ng-show="hasStripe">
    <span class="selector"> Congrats, {{ currentUser }}, you have confirmed your place for {{ lastEvent }} thrown by {{ owner }} !! </span> <br />
    <span class="selector" ng-show="triggerFunding"> Congrats, {{ currentUser }}, the {{ lastEvent }} thrown by {{ owner }} is officially HAPPENING !!!</span>
    <!-- <button class="selector"  ng-click="confirm($event)">  CONFIRM? </button> -->
  </div>
  <div ng-show="needInfo">
  </div>

</span>