
<div class="newUserEvent" >
  <div layout="column">
  <md-content layout-padding>
    <form name="userForm" ng-model="newEvent" ng-submit="createEvent()">
      <div layout layout-sm="column">
        <md-input-container style="width:50%">
            <label>Title</label>
            <input ng-model="newEvent.title" >
          </md-input-container>
        <md-input-container flex>
          <label>Expiration Date</label>
          <input type="date" ng-model="newEvent.expiration">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Amount</label>
          <input ng-model="newEvent.thresholdMoney">
        </md-input-container>
        <md-input-container flex>
          <label>Numer of People</label>
          <input ng-model="newEvent.thresholdPeople">
        </md-input-container>
      </div>
      <md-input-container flex>
        <label>Description</label>
        <textarea ng-model="newEvent.description" columns="1" md-maxlength="400"></textarea>
      </md-input-container>
      <md-input-container flex>
        <label>Image URL</label>
        <input ng-model="newEvent.image" columns="1"</input>
      </md-input-container>
      <md-input-container flex>
        <label>Address</label>
        <input ng-model="user.address">
      </md-input-container>
      <md-input-container md-no-float>
        <input ng-model="user.address2" placeholder="Address 2">
      </md-input-container>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>City</label>
          <input ng-model="user.city">
        </md-input-container>
        <md-input-container flex>
          <label>State</label>
          <input ng-model="user.state">
        </md-input-container>
        <md-input-container flex>
          <label>Postal Code</label>
          <input ng-model="user.postalCode">
        </md-input-container>
      </div>
  </md-content>

  <div ng-controller="EventsController as ctrl" layout="column">
    <md-content class="md-padding autocomplete" layout="column">
    <md-contact-chips
      ng-model="ctrl.contacts"
      md-contacts="ctrl.querySearch($query)"
      md-contact-name="name"
      md-contact-image="image"
      md-require-match
      filter-selected="ctrl.filterSelected"
      placeholder="To">
    </md-contact-chips>
    <md-list class="fixedRows">
    <md-subheader class="md-no-sticky">Contacts</md-subheader>
    <md-list-item ng-hide="true" class="md-2-line contact-item invitees" data-id="{{contact.id}}" ng-repeat="(index, contact) in ctrl.allContacts" ng-if="ctrl.contacts.indexOf(contact) < 0" layout="column">
    <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
    <div class="md-list-item-text compact">
      <h3>{{contact.name}}</h3>
    </div>
    </md-list-item>
    <md-list-item ng-hide="true" class="md-2-line contact-item selected" ng-repeat="(index, contact) in ctrl.contacts">
    <img ng-hide="true" ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
    <div ng-hide="true" class="md-list-item-text compact">
      <h3 ng-hide="true">{{ contact.id }}</h3>
    </div>
    </md-list-item>
    </md-list>
    </md-content>

     <section layout="row" layout-sm="column" layout-align="center center">
    <md-button type="submit" ng-disabled="shouldNotBeCreatable" class="md-raised md-primary">Create</md-button>
     </section>
  </form>
  </div>
</div>
