<div id='container'>
  <div layout="row">
    <div class="center-form">
      <section class="venmo-button" layout="row" layout-sm="column" layout-align="center center">
        <md-button ng-show="!hasNotAuthorizedVenmo" ng-disabled="true" class="md-raised md-primary">Venmo Account Authorized</md-button>
        <md-button ng-show="hasNotAuthorizedVenmo" ng-click="authorize()" class="md-raised md-warn">Authorize Your Venmo Account!</md-button>
      </section>
      <form ng-submit="accountUpdate()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="account" ng-model="username" disabled>
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" id="account" placeholder="John" ng-model="firstname">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="account" placeholder="Smith" ng-model="lastname">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="account" placeholder="example@example.com" ng-model="email">
          <label for="telephone">Telephone</label>
          <input type="tel" class="form-control" id="account" placeholder="5551234567" ng-model="telephone">
        </div>
        <button type="submit" class="btn btn-default">Save</button>
      </form>
    </div>
  </div>
</div>


