<div id='container'>
<!-- Your code here -->

  <nav class="navigation">
    <ul>
      <li>
          <a href="#/events">Events</a>
      </li>
       <li>
          <a class='selected' href="#/accounts">Account Panel</a>
      </li>
    </ul>
  </nav>


  <form stripe-form="stripeCallback" name="checkoutForm">
    <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" name="card" />
    <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry"  name="expiry" />
    <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" />
    <button type="submit">Save Card</button>
  </form>

</div>


