<div id='container'>
  <!-- Your html here -->

  <nav class="navigation">
    <ul>
      <li>
          <a class="selected" href="#/links">Events</a>
      </li>
       <li>
          <a href="#/shorten">Account Panel</a>
      </li>
    </ul>
  </nav>
</div>
<input type='text' ng-model='search' placeholder='filter' />

<div>

  <form>
    <input type="text" name="title" placeholder="Title" ng-model="event.title"> <br>
    <input type="text" name="description" placeholder="Description" ng-model="event.description"> <br>
    <input type="date" name="expiration" placeholder="expiration" ng-model="event.expiration"> <br>
    <input type="number" name="thresholdPeople" placeholder="thresholdPeople" ng-model="event.thresholdPeople"> <br>
  </form>

</div>

<div class="links">
  <div class="link"
      ng-repeat="link in data.links | filter:search | orderBy:'created_at'">
    <img src="assets/redirect_icon.png">
    <div class="info">
      <div class="visits">

    </div>
  </div>
</div>
