body {
  margin: 0;
  margin-top: 10px;
  padding: 50px;
  font: 14px "Arial";
}

h1 {
  font-family: "Arial";
  margin-bottom: 10px;
}

.auth_title {
  margin-bottom: 25px;
  margin-left: 100px;
}

#account {
  width: 300px;
  margin-bottom: 10px;
}

.oauth_button {
  height: 35px;
  margin-top: 10px;
  margin-left: 7px;
}

#newAuth {
  margin-left: 10px;
}

.toolbar_buttons {
  color:white;
  margin-top: 10px;
  margin-left: 10px;
  height: 25px;
  width: 25px;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #ecc;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #dad;
}

.navigation li a.selected {
  background-color: #cac;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
  width: 500px;

}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 0px;
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}


.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

.connect {
  display: block;
  margin: 0 auto;
  margin-top: 65px;
}

.selector {
  color: red;
  float: left;
}

ul.account {
  list-style-type: none;
}

.links .ng-scope{
  width: 400px;
  float:left;
}

.preview {
  float: left;
}

.menuBtn {
  background-color: transparent;
  border: none;
  margin-left: 16px;
}
md-list .md-button {
  color: inherit;
  text-align: left;
  width: 100%;
}

.event-image {
  margin: 20px;
  border-radius: 10px;
}

.events {
  height: 100%;
}

.center-form {
  margin: 0 auto;
}

/* Using Data-URI converted from svg until <md-icon> becomes available
https://github.com/google/material-design-icons
*/
.menuBtn {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}
.chipsdemoContactChips md-content.autocomplete {
  min-height: 250px; }
.chipsdemoContactChips .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px; }
.chipsdemoContactChips .contact-item {
  box-sizing: border-box; }
  .chipsdemoContactChips .contact-item.selected {
    opacity: 0.5; }
    .chipsdemoContactChips .contact-item.selected h3 {
      opacity: 0.5; }
  .chipsdemoContactChips .contact-item .md-list-item-text {
    padding: 14px 0; }
    .chipsdemoContactChips .contact-item .md-list-item-text h3 {
      margin: 0 !important;
      padding: 0;
      line-height: 1.2em !important; }
    .chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  @media (min-width: 900px) {
    .chipsdemoContactChips .contact-item {
      float: left;
      width: 33%; } }
.chipsdemoContactChips md-contact-chips {
  margin-bottom: 1rem; }
.chipsdemoContactChips .md-chips {
  padding: 0.5rem 0 0.8rem; }
.chipsdemoContactChips .fixedRows {
  height: 250px;
  overflow: hidden; }
