body {
  margin: 0;
  margin-top: 10px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
}

#inviteBox {
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
}

.toolbar_buttons {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: -10px;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #ecc;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #dad;
}

.navigation li a.selected {
  background-color: #cac;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
  width: 500px;
  
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 0px;
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}


.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

.connect {
  display: block;
  margin: 0 auto;
  margin-top: 65px;
}

.selector {
  color: red;
  float: left;
}

ul.account {
  list-style-type: none;
}

.links .ng-scope{
  width: 400px;
  float:left;
}

.preview {
  float: left;
}

.menuBtn {
  background-color: transparent;
  border: none;
  margin-left: 16px;
}
md-list .md-button {
  color: inherit;
  text-align: left;
  width: 100%;
}

/* Using Data-URI converted from svg until <md-icon> becomes available 
https://github.com/google/material-design-icons
*/
.menuBtn {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}