<div layout="row">
	<div class="center-form">
	  <h1 class="auth_title">Sign-in</h1>
	  <form ng-submit="signin()">
		<div class="form-group">
		  <label for="username">Username</label>
		  <input type="text" class="form-control" placeholder="Username" ng-model="user.username" required>
		</div>
		<div class="form-group">
		  <label for="password">Password</label>
		  <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
		</div>
	    <button type="submit" class="btn btn-default">Sign-in</button>
	  </form>
	<span> <a href="/auth/google"><img class="oauth_button" src="./../assets/google.png" /></a></span>
	<span> <a href="/auth/facebook"><img class="oauth_button" src="./../assets/facebook.png" /></a> </span><br />
	<a id="newAuth" href="#/signup">Don't have an account? <strong>Sign-up</strong> ...</a>
    </div>
</div>
