<div layout="row">
	<div class="center-form">
	  <h1>Sign-up</h1>
	  <div class="ui primary inverted red segment" ng-show="hasTriedSignup">
	    <p>There was an error signing you up. Please try again.</p>
	  </div>
	  <form class="ui form" ng-submit="signup()">
	  		<div class="field">
	  		  <input type="text" placeholder="Username" ng-model="user.username" required>
	  		</div>
	  		<div class="field">
	  		  <input type="password" placeholder="Password" ng-model="user.password" required>
	  		</div>
	      <div class="ui buttons">
	  	    <button type="submit" class="ui button green padding">Sign up</button>
	        <div class="or"></div>
	        <a href="#/signin"><div class="ui button">Sign in instead</div></a>
	      </div>
	  </form>
	<span> <a href="/auth/google"><img class="oauth_button" src="./../assets/google.png" /></a></span>
	<span> <a href="/auth/facebook"><img class="oauth_button" src="./../assets/facebook.png" /></a></span> <br />
  </div>
</div>
