<div class='auth'>
  <h1 class="auth_title">Sign-in</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input class="auth_input" type='text' placeholder="Username" ng-model='user.username' required>
    <input class="auth_input" type="password" placeholder="Password" ng-model='user.password' required>
    <button class="auth_button"><strong>Sign-in</strong></button>
  </form>
  <span><a href="/auth/google"><img class="oauth_button" src="./../assets/google.png" /></a></span>
  <span> <a href="/auth/facebook"><img class="oauth_button" src="./../assets/facebook.png" /></a> </span><br />
  <span id="newAuth"> <a href="#/signup">Don't have an account? <strong>Sign-up</strong> ...</a> </span>
</div>
