<div class="auth">
  <h1 class="auth_title">Sign-up</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input class="auth_input" type='text' placeholder="Username" ng-model='user.username' required>
    <input class="auth_input" type="password" placeholder="Password" ng-model='user.password'>
    <button class="auth_button"><strong>Sign-up</strong></button>
  </form>
  <span> <a href="/auth/google"><img class="oauth_button" height="35px" src="./../assets/google.png" /></a></span>
  <span> <a href="/auth/facebook"><img class="oauth_button" height="35px" src="./../assets/facebook.png" /></a></span> <br />
  <a id="newAuth" href="#/signin">Already have an account? <strong>Sign-in</strong> ...</a>
</div>
